Django
djangorestframework
fastapi
uvicorn
djangorestframework-simplejwt
django-redis
psycopg2-binary
pyjwt
pydantic
django-cors-headers
python-multipart
python-dotenv
celery>=5.0.0,<5.3.0
django-celery-results
redis
