# Frameworks
Django>=3.2,<4.0
fastapi>=0.70.0,<1.0

# django extensions
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-celery-results
django-redis


# fastapi extensions
uvicorn

# other dependencies
python-multipart
python-dotenv
psycopg2-binary
pyjwt
pydantic
celery
redis

# Testing
pytest
