Django
djangorestframework
fastapi
uvicorn
djangorestframework-simplejwt
django-redis
psycopg2-binary
pyjwt
pydantic
django-cors-headers
python-multipart
python-dotenv
celery==5.2.7
django-celery-results
redis
